<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL shortener</title>
</head>
<body>
    <h1>URL shortener app</h1>
    <form action="{% url 'generate' %}" method="POST">
        {% csrf_token %}
        <input type="url" name="original">
        <input type="text" name="short">
        <input type="submit" value="Generate">
    </form>

    {% for u in urls %}
        <a href="{{ u.url }}">{{ u.url }}</a> ⟶
        <a href="{{ u.url }}">http://urlsa.ga/{{ u.shorturl }}</a>
        {{ u.visits }}
        </br>
    {% endfor %}
</body>
</html>