<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL Saga | urlsa.ga</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">URLSAGA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Features</a>
                <a class="nav-item nav-link" href="#">Pricing</a>
                <a class="nav-item nav-link" href="/accounts/login">
                  {% if user.is_authenticated %}
                  {{ user.username }}
                  {% else %}
                  Login
                  {% endif %}
                </a>
              </div>
            </div>
          </nav>
          <div class="container">
    {% for message in messages %}
         <div class="alert alert-success">
            <a class="close" href="{% url 'index' %}" data-dismiss="alert">X</a>
                {{ message }}
        </div>
    {% endfor %}
    <form action="{% url 'generate' %}" method="POST">
        {% csrf_token %}
        <div class="form-group mt-5">
            <input type="url" class="form-control mb-2" name="original" placeholder="Paste your URL here">
            {% if user.is_authenticated %}
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">https://urlsa.ga/</div>
              </div>
              <input type="text" class="form-control" name="short" placeholder="Custom URL">
            </div>
            {% else %}
            <p><a href="/accounts/login">Login</a> to customize URL</p>
            {% endif %}
            
            <input type="submit" class="form-control btn-primary" value="Generate">
        </div>
    </form>
    
    </br>
    <div class="m-5">
    
    <table class="table table-hover table-bordered">
        <tbody>
            {% for u in urls %}
            <tr>
                <td><a href="{{ u.url }}">{{ u.url }}</a></td>
                <td><a href="{{ u.shorturl }}">https://urlsa.ga/{{ u.shorturl }} </a><span class="badge badge-pill badge-success"> {{ u.visits }}</span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    
    </div>
    
    </div>
</body>
</html>